<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559.27557277679443, 782.8897705078125}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2017-05-01 08:19:51 +0000</string>
	<key>Creator</key>
	<string>Shuai Guo</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{311.79177856445312, 26.000002861022949}, {114.84357473584215, 89.427374301675968}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>30</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Hexagon</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>catalog</key>
						<string>System</string>
						<key>name</key>
						<string>controlHighlightColor</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{400.4320068359375, 167.62290859222412}, {114.84357473584215, 89.427374301675968}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>29</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Hexagon</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>catalog</key>
						<string>System</string>
						<key>name</key>
						<string>controlHighlightColor</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{44.000003601533365, 167.62290050996728}, {114.84357473584215, 89.427374301675968}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>28</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Hexagon</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>catalog</key>
						<string>System</string>
						<key>name</key>
						<string>controlHighlightColor</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{132.64019776653359, 26}, {114.84357473584215, 89.427374301675968}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>27</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Hexagon</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>catalog</key>
						<string>System</string>
						<key>name</key>
						<string>controlHighlightColor</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{329.67724717251645, 237.35684357541891}, {79.072625227956891, 44.713687150837991}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>47</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKyxXSE/nlJ/mrpbl
						gaXlurcK5LiO5Lq65Y+j56eR5a2m
						5ZCICuS9nOS4reW/g4aEAmlJARKS
						hISEDE5TRGljdGlvbmFyeQCUhAFp
						BJKElpYQTlNQYXJhZ3JhcGhTdHls
						ZYaShISEF05TTXV0YWJsZVBhcmFn
						cmFwaFN0eWxlAISEEE5TUGFyYWdy
						YXBoU3R5bGUAlIQEQ0NAUwAAhISE
						B05TQXJyYXkAlJkAhoEICoQEWzNm
						XYGwARWDzcxMPYaShJaWB05TQ29s
						b3KGkoSEhAdOU0NvbG9yAJSEAWMG
						hANAQECElpYGU3lzdGVthoSWlhZj
						b250cm9sQmFja2dyb3VuZENvbG9y
						hoShoAOEAmZmg6uqKj8BhoaShJaW
						Bk5TRm9udIaShISEBk5TRm9udB6U
						mTCEBVs0OGNdBgAAACYAAAD//lAA
						aQBuAGcARgBhAG4AZwBTAEMALQBS
						AGUAZwB1AGwAYQByAAAAhAFmDKAA
						oAGgAKAAhpKElpYOTlNPcmlnaW5h
						bEZvbnSGkqaGhg==
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;\red255\green255\blue255;}
{\*\expandedcolortbl;;\csgray\c100000;}
\deftab420
\pard\pardeftab420\ri0

\f0\fs24 \cf2 WHO\'c9\'fa\'d6\'b3\'bd\'a1\'bf\'b5\
\'d3\'eb\'c8\'cb\'bf\'da\'bf\'c6\'d1\'a7\'ba\'cf\
\'d7\'f7\'d6\'d0\'d0\'c4}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{311.79177241857383, 215.00000000000006}, {114.84357473584215, 89.427374301675982}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>48</integer>
					<key>Shape</key>
					<string>Hexagon</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0705882</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0.545098</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>46</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{416.43480766622815, 94.921089336192864}, {86.603351440143229, 44.713687150837984}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>38</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\deftab420
\pard\pardeftab420\ri0

\f0\fs24 \cf0 \'c9\'fa\'d6\'b3\'bd\'a1\'bf\'b5\'c8\'a8\'c0\'fb\'d3\'eb\
\'d5\'fe\'b2\'df\'b9\'fa\'bc\'ca\'d1\'a7\'ca\'f5\
\'c1\'aa\'c3\'cb(ANSER)}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{400.43201446533203, 72.564245760773844}, {114.84357473584215, 89.427374301675968}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>39</integer>
					<key>Shape</key>
					<string>Hexagon</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>catalog</key>
								<string>System</string>
								<key>name</key>
								<string>controlHighlightColor</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{240.10148315196983, 290.15306228015731}, {79.072625227956891, 33.121249741361488}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>50</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\deftab420
\pard\pardeftab420\ri0

\f0\fs24 \cf0 \'b8\'c7\'b4\'c4\'bb\'f9\'bd\'f0\'b6\'f9\'cd\'af\
\'bd\'a1\'bf\'b5\'c1\'aa\'c3\'cb }</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{222.21600884689349, 262}, {114.84357473584215, 89.427374301675968}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>51</integer>
					<key>Shape</key>
					<string>Hexagon</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>catalog</key>
								<string>System</string>
								<key>name</key>
								<string>controlHighlightColor</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{149.58433128245946, 237.35684357541902}, {90.368714546236447, 44.713687150837984}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>44</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKzXnjq/lpKrlubPm
						tIvlpKflraYK6IGU55ufKEFQUlUp
						6ICB6b6ECuWBpeW6t+eglOeptumZ
						ooaEAmlJAReShISEDE5TRGljdGlv
						bmFyeQCUhAFpBJKElpYQTlNQYXJh
						Z3JhcGhTdHlsZYaShISEF05TTXV0
						YWJsZVBhcmFncmFwaFN0eWxlAISE
						EE5TUGFyYWdyYXBoU3R5bGUAlIQE
						Q0NAUwAAhISEB05TQXJyYXkAlJkA
						hoEICoQEWzNmXYGwARWDzcxMPYaS
						hJaWB05TQ29sb3KGkoSEhAdOU0Nv
						bG9yAJSEAWMGhANAQECElpYGU3lz
						dGVthoSWlhZjb250cm9sQmFja2dy
						b3VuZENvbG9yhoShoAOEAmZmg6uq
						Kj8BhoaShJaWBk5TRm9udIaShISE
						Bk5TRm9udB6UmTCEBVs0OGNdBgAA
						ACYAAAD//lAAaQBuAGcARgBhAG4A
						ZwBTAEMALQBSAGUAZwB1AGwAYQBy
						AAAAhAFmDKAAoAGgAKAAhpKElpYO
						TlNPcmlnaW5hbEZvbnSGkqaGhg==
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;\red255\green255\blue255;}
{\*\expandedcolortbl;;\csgray\c100000;}
\deftab420
\pard\pardeftab420\ri0

\f0\fs24 \cf2 \'bb\'b7\'cc\'ab\'c6\'bd\'d1\'f3\'b4\'f3\'d1\'a7\
\'c1\'aa\'c3\'cb(APRU)\'c0\'cf\'c1\'e4\
\'bd\'a1\'bf\'b5\'d1\'d0\'be\'bf\'d4\'ba}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{132.64019775390636, 215}, {114.84357473584215, 89.427374301675968}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>45</integer>
					<key>Shape</key>
					<string>Hexagon</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0705882</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0.545098</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>43</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{252.82828388562308, 195.77596730809006}, {52.715083485304596, 33.121249741361495}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>41</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\deftab420
\pard\pardeftab420\ri0

\f0\fs24 \cf0 \'bc\'e0\'b9\'dc\'bf\'c6\'d1\'a7\
\'d7\'bf\'d4\'bd\'d6\'d0\'d0\'c4}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{221.76403870922059, 167.62290502793283}, {114.84357473584215, 89.427374301675968}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>42</integer>
					<key>Shape</key>
					<string>Hexagon</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{240.10148146042098, 100.7173080902127}, {79.072625227956891, 33.121249741361488}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>32</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKx1BUEVD57K+56We
						CuWBpeW6t+eUteWtkOS4reW/g4aE
						AmlJAQ2ShISEDE5TRGljdGlvbmFy
						eQCUhAFpBJKElpYQTlNQYXJhZ3Jh
						cGhTdHlsZYaShISEF05TTXV0YWJs
						ZVBhcmFncmFwaFN0eWxlAISEEE5T
						UGFyYWdyYXBoU3R5bGUAlIQEQ0NA
						UwAAhISEB05TQXJyYXkAlJkAhoEI
						CoQEWzNmXYGwARWDzcxMPYaShJaW
						B05TQ29sb3KGkoSEhAdOU0NvbG9y
						AJSEAWMGhANAQECElpYGU3lzdGVt
						hoSWliFhbHRlcm5hdGVTZWxlY3Rl
						ZENvbnRyb2xUZXh0Q29sb3KGhKGg
						A4QCZmYBAYaGkoSWlgZOU0ZvbnSG
						koSEhAZOU0ZvbnQelJkwhAVbNDhj
						XQYAAAAmAAAA//5QAGkAbgBnAEYA
						YQBuAGcAUwBDAC0AUgBlAGcAdQBs
						AGEAcgAAAIQBZgygAKABoACgAIaS
						hJaWDk5TT3JpZ2luYWxGb250hpKm
						hoY=
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;\red255\green255\blue255;}
{\*\expandedcolortbl;;\csgray\c100000;}
\deftab420
\pard\pardeftab420\ri0

\f0\fs24 \cf2 APEC\'be\'ab\'c9\'f1\
\'bd\'a1\'bf\'b5\'b5\'e7\'d7\'d3\'d6\'d0\'d0\'c4}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{222.21600580874593, 72.564245810055468}, {114.84357473584215, 89.427374301675968}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>33</integer>
					<key>Shape</key>
					<string>Hexagon</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0705882</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0.545098</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>31</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{60.944133977419312, 100.71730398781526}, {80.9553067810035, 33.121249741361488}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>35</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\deftab420
\pard\pardeftab420\ri0

\f0\fs24 \cf0 APEC\
\'a1\'b0\'b2\'d0\'bc\'b2\'c8\'cb\'d6\'ae\'d3\'d1\'a1\'b1}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{44, 72.564241707657999}, {114.84357473584215, 89.427374301675968}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>36</integer>
					<key>Shape</key>
					<string>Hexagon</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>catalog</key>
								<string>System</string>
								<key>name</key>
								<string>controlHighlightColor</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>34</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>6</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image5.jpg</string>
		<string>image3.jpg</string>
		<string>image2.jpg</string>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>图层 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2017-05-11 03:56:49 +0000</string>
	<key>Modifier</key>
	<string>Shuai Guo</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.27557277679443, 841.8897705078125}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>版面 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{119, 61}, {808, 717}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-49, 0}, {659, 575}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>版面 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
