<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559.27557277679443, 1565.779541015625}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2017-05-01 07:42:57 +0000</string>
	<key>Creator</key>
	<string>Shuai Guo</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{210.13778448104858, 616}, {139, 61}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>35</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>20</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBK0Dnm5HnrqHnp5HlrabljZPotorkuK3lv4MK
				KFJlZ3VsYXRvcnkgQ2VudGVywqBvZsKgRXhjZWxsZW5j
				ZSxDb0UphoQCaUkBLpKEhIQMTlNEaWN0aW9uYXJ5AJSE
				AWkHkoSWlgdOU0NvbG9yhpKEhIQHTlNDb2xvcgCUhAFj
				AoQEZmZmZgAAAAGGkoSWlg1OU1N0cm9rZVdpZHRohpKE
				hIQITlNOdW1iZXIAhIQHTlNWYWx1ZQCUhAEqhIQBZKAA
				hpKElpYNTlNTdHJva2VDb2xvcoaSmpKElpYOTlNPcmln
				aW5hbEZvbnSGkoSEhAZOU0ZvbnQelJkwhAVbNDhjXQYA
				AAAmAAAA//5QAGkAbgBnAEYAYQBuAGcAUwBDAC0AUgBl
				AGcAdQBsAGEAcgAAAIQBZgqbAJsBmwCbAIaShJaWEE5T
				UGFyYWdyYXBoU3R5bGWGkoSEhBdOU011dGFibGVQYXJh
				Z3JhcGhTdHlsZQCEhBBOU1BhcmFncmFwaFN0eWxlAJSE
				BENDQFMCAISEhA5OU011dGFibGVBcnJheQCEhAdOU0Fy
				cmF5AJSZAIaBIAqEBFszZl0RJIPNzEw9hpKElpYGTlNG
				b250hpKjkoSWlgZOU0tlcm6Gkp2Ghg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0;}
\deftab720
\pard\pardeftab720\sl340\qc

\f0\fs20 \cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 \'bc\'e0\'b9\'dc\'bf\'c6\'d1\'a7\'d7\'bf\'d4\'bd\'d6\'d0\'d0\'c4\
(Regulatory Center\uc0\u160 of\u160 Excellence,CoE)}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{52, 543.5}, {164.4488525390625, 61}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>PingFangSC-Regular</string>
				<key>NSKern</key>
				<real>0.0</real>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>40</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>20</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBK2zlkbzlkLjns7vnu5/nlr7nl4Xnm5HnrqHn
				p5HlrabljZPotorkuK3lv4MKKFJlc3BpcmF0b3J5IERp
				c2Vhc2VzIFJlZ3VsYXRvcnkgQ2VudGVywqBvZsKgRXhj
				ZWxsZW5jZSAsIFJEIENvRSmGhAJpSQFOkoSEhAxOU0Rp
				Y3Rpb25hcnkAlIQBaQeShJaWB05TQ29sb3KGkoSEhAdO
				U0NvbG9yAJSEAWMChARmZmZmAAAAAYaShJaWDU5TU3Ry
				b2tlV2lkdGiGkoSEhAhOU051bWJlcgCEhAdOU1ZhbHVl
				AJSEASqEhAFkoACGkoSWlg1OU1N0cm9rZUNvbG9yhpKa
				koSWlg5OU09yaWdpbmFsRm9udIaShISEBk5TRm9udB6U
				mTCEBVs0OGNdBgAAACYAAAD//lAAaQBuAGcARgBhAG4A
				ZwBTAEMALQBSAGUAZwB1AGwAYQByAAAAhAFmCpsAmwGb
				AJsAhpKElpYQTlNQYXJhZ3JhcGhTdHlsZYaShISEF05T
				TXV0YWJsZVBhcmFncmFwaFN0eWxlAISEEE5TUGFyYWdy
				YXBoU3R5bGUAlIQEQ0NAUwQAhISEB05TQXJyYXkAlJkA
				hoEgAoQEWzJmXREkhpKElpYGTlNGb250hpKjkoSWlgZO
				U0tlcm6Gkp2Ghg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0;}
\deftab720
\pard\pardeftab720\sl340

\f0\fs20 \cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 \'ba\'f4\'ce\'fc\'cf\'b5\'cd\'b3\'bc\'b2\'b2\'a1\'bc\'e0\'b9\'dc\'bf\'c6\'d1\'a7\'d7\'bf\'d4\'bd\'d6\'d0\'d0\'c4\
(Respiratory Diseases Regulatory Center\uc0\u160 of\u160 Excellence , RD CoE)}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{300, 702.5}, {176.86221313476562, 44}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>39</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>20</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBK0LlpKfmlbDmja7nm5HnrqHnp5HlrabljZPo
				torkuK3lv4MKKEJpZyBEYXRhIFJlZ3VsYXRvcnkgQ29F
				LEJEIENvRSmGhAJpSQEskoSEhAxOU0RpY3Rpb25hcnkA
				lIQBaQeShJaWB05TQ29sb3KGkoSEhAdOU0NvbG9yAJSE
				AWMChARmZmZmAAAAAYaShJaWDU5TU3Ryb2tlV2lkdGiG
				koSEhAhOU051bWJlcgCEhAdOU1ZhbHVlAJSEASqEhAFk
				oACGkoSWlg1OU1N0cm9rZUNvbG9yhpKakoSWlg5OU09y
				aWdpbmFsRm9udIaShISEBk5TRm9udB6UmTCEBVs0OGNd
				BgAAACYAAAD//lAAaQBuAGcARgBhAG4AZwBTAEMALQBS
				AGUAZwB1AGwAYQByAAAAhAFmCpsAmwGbAJsAhpKElpYQ
				TlNQYXJhZ3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBh
				cmFncmFwaFN0eWxlAISEEE5TUGFyYWdyYXBoU3R5bGUA
				lIQEQ0NAUwIAhISEB05TQXJyYXkAlJkAhoEgAoQEWzJm
				XREkhpKElpYGTlNGb250hpKjkoSWlgZOU0tlcm6Gkp2G
				hg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0;}
\deftab720
\pard\pardeftab720\sl340\qc

\f0\fs20 \cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 \'b4\'f3\'ca\'fd\'be\'dd\'bc\'e0\'b9\'dc\'bf\'c6\'d1\'a7\'d7\'bf\'d4\'bd\'d6\'d0\'d0\'c4\
(Big Data Regulatory CoE,BD CoE)}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{345, 543.5}, {146.5, 61}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>38</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>20</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBK1Doja/lk4Hnm5HnrqHnp5HlrabljZPotork
				uK3lv4MKKE1lZGljaW5lIFJlZ3VsYXRvcnlDZW50ZXIg
				b2YgRXhjZWxsZW5jZSxNUiBDb0UgKYaEAmlJATyShISE
				DE5TRGljdGlvbmFyeQCUhAFpB5KElpYHTlNDb2xvcoaS
				hISEB05TQ29sb3IAlIQBYwKEBGZmZmYAAAABhpKElpYN
				TlNTdHJva2VXaWR0aIaShISECE5TTnVtYmVyAISEB05T
				VmFsdWUAlIQBKoSEAWSgAIaShJaWDU5TU3Ryb2tlQ29s
				b3KGkpqShJaWDk5TT3JpZ2luYWxGb250hpKEhIQGTlNG
				b250HpSZMIQFWzQ4Y10GAAAAJgAAAP/+UABpAG4AZwBG
				AGEAbgBnAFMAQwAtAFIAZQBnAHUAbABhAHIAAACEAWYK
				mwCbAZsAmwCGkoSWlhBOU1BhcmFncmFwaFN0eWxlhpKE
				hIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUAhIQQTlNQ
				YXJhZ3JhcGhTdHlsZQCUhARDQ0BTAgCEhIQOTlNNdXRh
				YmxlQXJyYXkAhIQHTlNBcnJheQCUmQCGgSAKhARbM2Zd
				ESSDzcxMPYaShJaWBk5TRm9udIaSo5KElpYGTlNLZXJu
				hpKdhoY=
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0;}
\deftab720
\pard\pardeftab720\sl340\qc

\f0\fs20 \cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 \'d2\'a9\'c6\'b7\'bc\'e0\'b9\'dc\'bf\'c6\'d1\'a7\'d7\'bf\'d4\'bd\'d6\'d0\'d0\'c4\
(Medicine RegulatoryCenter of Excellence,MR CoE )}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{81.137802124023438, 702.5}, {182.86221313476562, 61}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>37</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>20</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBK3DlhL/nq6Xlkozmr43kurLlgaXlurfnm5Hn
				rqHnp5HlrabljZPotorkuK3lv4MKKENoaWxkcmVuIGFu
				ZCBtYXRlcm5hbCBEaXNlYXNlcyBhbmQgSGVhbHRoIFJl
				Z3VsYXRvcnkgQ29FLCBDRCBDb0UphoQCaUkBUpKEhIQM
				TlNEaWN0aW9uYXJ5AJSEAWkHkoSWlgdOU0NvbG9yhpKE
				hIQHTlNDb2xvcgCUhAFjAoQEZmZmZgAAAAGGkoSWlg1O
				U1N0cm9rZVdpZHRohpKEhIQITlNOdW1iZXIAhIQHTlNW
				YWx1ZQCUhAEqhIQBZKAAhpKElpYNTlNTdHJva2VDb2xv
				coaSmpKElpYOTlNPcmlnaW5hbEZvbnSGkoSEhAZOU0Zv
				bnQelJkwhAVbNDhjXQYAAAAmAAAA//5QAGkAbgBnAEYA
				YQBuAGcAUwBDAC0AUgBlAGcAdQBsAGEAcgAAAIQBZgqb
				AJsBmwCbAIaShJaWEE5TUGFyYWdyYXBoU3R5bGWGkoSE
				hBdOU011dGFibGVQYXJhZ3JhcGhTdHlsZQCEhBBOU1Bh
				cmFncmFwaFN0eWxlAJSEBENDQFMEAISEhAdOU0FycmF5
				AJSZAIaBIAKEBFsyZl0RJIaShJaWBk5TRm9udIaSo5KE
				lpYGTlNLZXJuhpKdhoY=
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0;}
\deftab720
\pard\pardeftab720\sl340

\f0\fs20 \cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 \'b6\'f9\'cd\'af\'ba\'cd\'c4\'b8\'c7\'d7\'bd\'a1\'bf\'b5\'bc\'e0\'b9\'dc\'bf\'c6\'d1\'a7\'d7\'bf\'d4\'bd\'d6\'d0\'d0\'c4\
(Children and maternal Diseases and Health Regulatory CoE, CD CoE)}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{206.38778495788574, 471}, {146.5, 61}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>36</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>20</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBK1TogIHlubTlkozmrovnlr7nm5HnrqHnp5Hl
				rabljZPotorkuK3lv4MKKEFnZWluZyAmIERpc2FiaWxp
				dHkgUmVndWxhdG9yeSBDb0UsIEFEIENvRSmGhAJpSQE6
				koSEhAxOU0RpY3Rpb25hcnkAlIQBaQeShJaWB05TQ29s
				b3KGkoSEhAdOU0NvbG9yAJSEAWMChARmZmZmAAAAAYaS
				hJaWDU5TU3Ryb2tlV2lkdGiGkoSEhAhOU051bWJlcgCE
				hAdOU1ZhbHVlAJSEASqEhAFkoACGkoSWlg1OU1N0cm9r
				ZUNvbG9yhpKakoSWlg5OU09yaWdpbmFsRm9udIaShISE
				Bk5TRm9udB6UmTCEBVs0OGNdBgAAACYAAAD//lAAaQBu
				AGcARgBhAG4AZwBTAEMALQBSAGUAZwB1AGwAYQByAAAA
				hAFmCpsAmwGbAJsAhpKElpYQTlNQYXJhZ3JhcGhTdHls
				ZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxlAISE
				EE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwIAhISEDk5T
				TXV0YWJsZUFycmF5AISEB05TQXJyYXkAlJkAhoEgCoQE
				WzNmXREkg83MTD2GkoSWlgZOU0ZvbnSGkqOShJaWBk5T
				S2VyboaSnYaG
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0;}
\deftab720
\pard\pardeftab720\sl340\qc

\f0\fs20 \cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 \'c0\'cf\'c4\'ea\'ba\'cd\'b2\'d0\'bc\'b2\'bc\'e0\'b9\'dc\'bf\'c6\'d1\'a7\'d7\'bf\'d4\'bd\'d6\'d0\'d0\'c4\
(Ageing &amp; Disability Regulatory CoE, AD CoE)}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{132, 376}, {6, 23}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>28</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0705882</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0.545098</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{144, 376}, {49, 23}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>29</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\deftab420
\pard\pardeftab420\ri0

\f0\b\fs32 \cf0 2017.2}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
			</array>
			<key>ID</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{132, 403}, {132, 34}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>26</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\deftab420
\pard\pardeftab420\ri0

\f0\fs24 \cf0 \'bb\'f1\'d7\'bc\'b3\'c9\'ce\'aa\'b5\'da\'d2\'bb\'c5\'fa\'d5\'fd\'ca\'bd\'b5\'c4APEC\'bc\'e0\'b9\'dc\'bf\'c6\'d1\'a7\'d7\'bf\'d4\'bd\'d6\'d0\'d0\'c4}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{22, 287}, {6, 23}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>24</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0705882</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0.545098</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{34, 287}, {49, 23}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>25</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\deftab420
\pard\pardeftab420\ri0

\f0\b\fs32 \cf0 2016.7}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
			</array>
			<key>ID</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{22, 314}, {153, 34}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>22</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\deftab420
\pard\pardeftab420\ri0

\f0\fs24 \cf0 \'a1\'b0\'c8\'ab\'c7\'f2\'b6\'e0\'d6\'d0\'d0\'c4\'c1\'d9\'b4\'b2\'ca\'d4\'d1\'e9\'bc\'b0GCP\'cf\'e0\'b9\'d8\'bf\'bc\'c1\'bf\'a1\'b1\'ca\'d4\'b5\'e3\'c5\'e0\'d1\'b5\'cf\'ee\'c4\'bf}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{389, 121}, {6, 23}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>19</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0705882</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0.545098</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{401, 121}, {53, 23}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>20</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\deftab420
\pard\pardeftab420\ri0

\f0\b\fs32 \cf0 2015.11}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
			</array>
			<key>ID</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{389, 148}, {132, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>17</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\deftab420
\pard\pardeftab420\ri0

\f0\fs24 \cf0 ICH E17 \'bf\'c6\'d1\'a7\'bc\'e0\'b9\'dc\'d1\'d0\'cc\'d6\'bb\'e1}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{322, 31}, {6, 23}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>15</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0705882</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0.545098</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{334, 31}, {50, 23}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>16</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\deftab420
\pard\pardeftab420\ri0

\f0\b\fs32 \cf0 2015.8}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
			</array>
			<key>ID</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{322, 58}, {132, 34}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg936\cocoartf1504\cocoasubrtf820
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\deftab420
\pard\pardeftab420\ri0

\f0\fs24 \cf0 HeSAY\'d5\'fd\'ca\'bd\'bd\'d2\'c5\'c6\'b2\'a2\'b3\'c9\'c1\'a2\'cf\'c2\'ca\'f4\'bc\'e0\'b9\'dc\'bf\'c6\'d1\'a7\'d7\'bf\'d4\'bd\'d6\'d0\'d0\'c4}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{223.99999952316284, 268}, {169, 169}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>8</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Offset</key>
			<string>{0, -0.14511718324968656}</string>
			<key>Shape</key>
			<string>Diamond</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>image fill</key>
				<dict>
					<key>Offset</key>
					<string>{0, -0.14511718324968656}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{132, 179}, {169, 169}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>7</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Offset</key>
			<string>{0, -0.14511718324968656}</string>
			<key>Shape</key>
			<string>Diamond</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>image fill</key>
				<dict>
					<key>Offset</key>
					<string>{0, -0.14511718324968656}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{253, 121}, {169, 169}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>6</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Offset</key>
			<string>{0, -0.14511718324968656}</string>
			<key>Shape</key>
			<string>Diamond</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>image fill</key>
				<dict>
					<key>Offset</key>
					<string>{0, -0.14511718324968656}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{162, 31}, {169, 169}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Offset</key>
			<string>{0, -0.14511718324968656}</string>
			<key>Shape</key>
			<string>Diamond</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>image fill</key>
				<dict>
					<key>Offset</key>
					<string>{0, -0.14511718324968656}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>37</integer>
			</dict>
			<key>ID</key>
			<integer>45</integer>
			<key>Points</key>
			<array>
				<string>{241.4380173449222, 677}</string>
				<string>{209.50050711635754, 702.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>catalog</key>
						<string>System</string>
						<key>name</key>
						<string>controlShadowColor</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>35</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>39</integer>
			</dict>
			<key>ID</key>
			<integer>44</integer>
			<key>Points</key>
			<array>
				<string>{322.02711376829893, 677}</string>
				<string>{357.46737268059019, 702.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>catalog</key>
						<string>System</string>
						<key>name</key>
						<string>controlShadowColor</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>35</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>40</integer>
			</dict>
			<key>ID</key>
			<integer>43</integer>
			<key>Points</key>
			<array>
				<string>{221.19880905330697, 618.10391268494857}</string>
				<string>{193.20203927666731, 604.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>catalog</key>
						<string>System</string>
						<key>name</key>
						<string>controlShadowColor</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>35</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>36</integer>
			</dict>
			<key>ID</key>
			<integer>41</integer>
			<key>Points</key>
			<array>
				<string>{279.63778591156006, 616}</string>
				<string>{279.63778591156006, 532}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>catalog</key>
						<string>System</string>
						<key>name</key>
						<string>controlShadowColor</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>35</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>38</integer>
			</dict>
			<key>ID</key>
			<integer>42</integer>
			<key>Points</key>
			<array>
				<string>{336.6735315451088, 617.46830202462286}</string>
				<string>{362.46397197221319, 604.34074052725703}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>catalog</key>
						<string>System</string>
						<key>name</key>
						<string>controlShadowColor</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>35</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{98.474944114685059, 468}, {362.32568359375, 362.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>31</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>9</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image8.png</string>
		<string>image4.jpg</string>
		<string>image3.jpg</string>
		<string>image2.jpg</string>
		<string>image1.jpg</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>图层 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2017-05-11 07:38:02 +0000</string>
	<key>Modifier</key>
	<string>Shuai Guo</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.27557277679443, 841.8897705078125}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>版面 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>2</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{139, 61}, {916, 717}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<true/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<false/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-92, 358}, {745, 575}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>版面 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
